################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Log4NetCore.SqlServer/bin
/src/Log4NetCore.SqlServer/obj
/tests/Log4NetCore.SqlServer.Tests/bin
/tests/Log4NetCore.SqlServer.Tests/obj