################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Log4NetCore.SqlServer/bin
/Log4NetCore.SqlServer/obj
/Log4NetCore.SqlServer.Tests/bin
/Log4NetCore.SqlServer.Tests/obj